* {
    box-sizing: border-box; /* Add this to all elements */
}

body {
    width: 100%;
    margin: 0;
    padding: 0px;
    color: #1A090D;
    background-color: #F0F0F0;
}

.logo {
    max-width: 40px;
    max-height: 40px;
}

.jumbotron {
    position: relative;
    background-image: url("img/andrew-s-ouo1hbizWwo-unsplash[640x426].jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    height: 400px; /* Adjust the height as needed */
    display: flex;
    box-sizing: border-box;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: white;
    padding: 20px;
}

.jumbotron::before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.5); /* Adjust the alpha value as needed */
    z-index: 1;
}

.jumbotron > * {
    position: relative;
    z-index: 2;
}

.jumbotron h1 {
    font-size: 1em; /* Adjust the font size as needed */
    margin: 0;
}

.logo-name {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding-left: 20px;
    width: 200px;
}

.hamburger {
    display: block; /* Show the hamburger icon */
    cursor: pointer;
}

#nav-bar {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
    /* grid-template-rows: 1fr auto 1fr; */
    align-items: center; /* Vertically center children */
    align-content: space-between;
    width: 100%; /* Full width */
    height: auto; /* Let the height adjust based on content */
    padding: 15px 0; /* Adjust padding for mobile */
    background-color: #333; /* Dark background color */
    color: white; /* White text color */
    z-index: 1000; /* Stay on top of other elements */
    position: relative; /* Add this to enable z-index */
}

#nav-bar ul {
    list-style-type: none; /* Remove bullets */
    margin: 0; /* Center the list */
    padding: 0;
    overflow: hidden; /* Needed for floating */
    text-align: right; /* Center the links */
    display: none; /* Hide by default */
}

#nav-bar ul.show {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: auto;
    margin: 10px 0;
    padding: 20px 0;
}

#nav-bar ul.show li {
    margin: 20px 0;
}

#nav-bar .hamburger {
    padding-right: 20px; /* Add padding to the hamburger icon */
}

.hamburger.active i {
    display: none;
}

.hamburger.active::after {
    content: "\f077"; /* Up chevron icon in Font Awesome */
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
}

#nav-bar li {
    display: inline; /* Arrange the items in one line */
    margin: 0 10px; /* Add space between the items */
}

#nav-bar a {
    color: white; /* White link color */
    text-decoration: none; /* Remove underline */
    padding: 8px; /* Adjust padding for mobile */
    font-size: 20px; /* Adjust font size for mobile */
}

#nav-bar a:hover {
    background-color: #111; /* Add a hover effect */
}

.testimonials {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
}

.video-container {
    position: relative;
    width: 100%;
    padding-top: 56.25%; /* 16:9 Aspect Ratio */
    overflow: auto; /* Add this */
    -webkit-overflow-scrolling: touch; /* Add this */
}

.video-container iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.contact-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: left;
    justify-content: flex;
    padding: 20px;
}

.input-group {
    display: flex;
    justify-content: flex-start;
    width: 100%;
    margin-bottom: 10px;
}

.input-group label {
    margin-right: 5px;
}

.input-group input {
    width: 100%;
}

.textarea-group {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 100%;
    margin-bottom: 10px;

}

.textarea-group label {
    margin-bottom: 5px;
}

.comments {
    resize: none; /* Disable resizing */
    width: 100%; /* Full width */
}

/* Responsive layout - makes the menu and logo stack on top of each other */
@media (max-width: 359px) {
    /* .logo-name {
        flex-direction: column;
        margin-left: 0;
        margin-top: 10px;
    } */
    .site-name {
        display: none;
    }
}

@media (min-width: 360px) and (max-width: 768px) {
    .nav-links ul {
        display: none;
        height: 0;
    }

    .nav-links.show ul {
        display: flex;
        flex-direction: column;
        height: auto;
    }
}

@media (min-width: 769px) {
    .hamburger {
        display: none; /* Hide the hamburger icon */
    }

    #nav-bar {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        padding: 5px 0;
    }

    #nav-bar ul {
        display: flex;
    }

    #nav-bar ul.show {
        display: flex;
        flex-direction: row;
        height: auto;
    }

    #nav-bar a {
        font-size: 16px; /* Adjust font size for displays above 601px */
    }

    .hamburger.active i {
        display: none;
    }
    
    .hamburger.active::after {
        content: "\f054"; /* Right chevron icon in Font Awesome */
        font-family: "Font Awesome 5 Free";
        font-weight: 900;
    }

    #nav-bar li {
        margin: 0 10px;
    }

    .jumbotron {
        background-image: url("img/andrew-s-ouo1hbizWwo-unsplash[1920x1280].jpg");
    }
}

@media (min-width: 1023px) {
    .jumbotron {
        background-image: url("img/andrew-s-ouo1hbizWwo-unsplash[2400x1600].jpg");
    }

    .video-container {
        margin: 0 auto;
        max-width: 80%;
        position: relative;
        overflow: hidden;
        height: 0;
    }

    .video-container iframe {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }
}